# Dependency directories
node_modules/
jspm_packages/

# Log files
*.log
logs/

__pychache__g

/wearl-2649a-firebase-adminsdk-fbsvc-6cbf6cbf33.json

# Lock files
package-lock.json
yarn.lock

# IDE and editor files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Python virtual environment
venv/
# or if the virtual environment folder is named `.venv`
.venv/

# Build directories
dist/
build/
scraping_agent/scraping_agent/wearl-2649a-firebase-adminsdk-fbsvc-6cbf6cbf33.json
scraping_agent/scraping_agent/wearl-2649a-firebase-adminsdk-fbsvc-6cbf6cbf33.json
scraping_agent/scraping_agent/wearl-2649a-firebase-adminsdk-fbsvc-6cbf6cbf33.json
scraping_agent/scraping_agent/wearl-2649a-firebase-adminsdk-fbsvc-6cbf6cbf33.json
*.pyc
*.pyc
*.pyc
/scraping_agent/scraping_agent/outputs
*.pyc
backend/firebase-credentials-key.json
