# Dependency directories
node_modules/
jspm_packages/

# Log files
*.log
logs/

# Lock files
package-lock.json
yarn.lock

# IDE and editor files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Python virtual environment
venv/
# or if the virtual environment folder is named `.venv`
.venv/

# Build directories
dist/
build/
